{% load static %}
<div class="sidebar-space mini">
	<div class="sidebar-container mini">
		<aside class="sidebar">
			<div class="sidebar__toggle">
				<i data-feather="menu"></i>
			</div>
			<div class="logo-container">
				<a href="#" class="logo">
					<img src="{% static 'assets/logo-light.png' %}" alt="Hoshi Logo">
				</a>
			</div>
			<ul class="sidebar__list">
				<a href="{% url 'home' %}" class="sidebar__link">
					<i data-feather="home" class="sidebar__link__icon"></i>
					<span class="sidebar__link__text">Home</span>
				</a>
				<a href="{% url 'search' %}" class="sidebar__link">
					<i data-feather="search" class="sidebar__link__icon"></i>
					<span class="sidebar__link__text">Search</span>
				</a>
				<a href="#" class="sidebar__link">
					<i data-feather="user" class="sidebar__link__icon"></i>
					<span class="sidebar__link__text">Profile</span>
				</a>
				<a href="#" class="sidebar__link">
					<i data-feather="play" class="sidebar__link__icon"></i>
					<span class="sidebar__link__text">Anime List</span>
				</a>
				<a href="#" class="sidebar__link">
					<i data-feather="book-open" class="sidebar__link__icon"></i>
					<span class="sidebar__link__text">Manga List</span>
				</a>
				<a href="#" class="sidebar__link">
					<i data-feather="clock" class="sidebar__link__icon"></i>
					<span class="sidebar__link__text">Schedule</span>
				</a>
			</ul>
			<ul class="sidebar__list">
				<a href="#" class="sidebar__link">
					<i data-feather="bell" class="sidebar__link__icon"></i>
					<span class="sidebar__link__text">Notification</span>
				</a>
				<a href="#" class="sidebar__link">
					<i data-feather="settings" class="sidebar__link__icon"></i>
					<span class="sidebar__link__text">Settings</span>
				</a>
				<a href="#" class="sidebar__link">
					<i data-feather="log-out" class="sidebar__link__icon"></i>
					<span class="sidebar__link__text">Logout</span>
				</a>
			</ul>
		</aside>
	</div>
</div>
