{% extends 'main.html' %}
{% load static %}


{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>

<link rel="stylesheet" href="{% static 'css/media.css'%}">
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>

<script defer src="{% static 'js/media.js' %}"></script>

<script>
	const mediaType = "{{mediaType|escapejs}}";
	const mediaId = "{{mediaId|escapejs}}";
	const recommended = JSON.parse("{{recommended|escapejs}}");
</script>

<script defer>
	Fancybox.bind("[data-fancybox]", {
		Html: {
			video: {
				autoplay: false,
			},
		},
	});
</script>
{% endblock %}

{% block content %}
<div class="content content--hidden">
	<div class="header">
		<div class="header__poster">
			<div class="header__poster__img"></div>
		</div>
		<div class="header__text"></div>
	</div>

	<nav class="navbar">
		<a class="navbar__link navbar__link--active" data-tab="overview">Overview</a>
		{% if mediaType == "anime" %}
		<a class="navbar__link" data-tab="episodes">Episodes</a>
		{% else %}
		<a class="navbar__link" data-tab="chapters">Chapters</a>
		{% endif %}
		<a class="navbar__link" data-tab="characters">Characters</a>
	</nav>

	<div class="tab overview">
		<div class="relations">
			<h1 class="relations__heading">Relations</h1>
			<div class="relations__media__cards">
				<p class="error-message">We couldn't find any related media (╥﹏╥)</p>
			</div>
		</div>

		<div class="characters">
			<h1 class="characters__heading">Characters</h1>
			<div class="characters__cards">
				<p class="error-message">We couldn't find any characters (╥﹏╥)</p>
			</div>
		</div>

		<div class="info">
			<div class="details">
				<h1 class="details__heading">Details</h1>
				<div class="details__text">
				</div>
			</div>

			{% if mediaType == "anime" %}
				<div class="trailer">
					<h1 class="trailer__heading">Trailer</h1>
				<a class="trailer__clip">
				</a>
				</div>
			{% endif %}

			<div class="stats">
				<h1 class="stats__heading">Stats</h1>
				<div class="stats__container">
					<div class="stats__item completed">
						<h6 class="stats__item__name">Completed</h6>
					</div>
					<div class="stats__item planning">
						<h6 class="stats__item__name">Planning</h6>
					</div>
					<div class="stats__item current">
						{% if mediaType == "anime" %}
							<h6 class="stats__item__name">Watching</h6>
						{% else %}
							<h6 class="stats__item__name">Reading</h6>
						{% endif %}
					</div>
					<div class="stats__item dropped">
						<h6 class="stats__item__name">Dropped</h6>
					</div>
				</div>
				<div class="stats__bar">
					<div class="stats__bar__completed"></div>
					<div class="stats__bar__planning"></div>
					{% if mediaType == "anime" %}
						<div class="stats__bar__watching"></div>
					{% else %}
						<div class="stats__bar__reading"></div>
					{% endif %}
					<div class="stats__bar__paused"></div>
					<div class="stats__bar__dropped"></div>
				</div>
			</div>
		</div>

		<div class="recommended">
			<h1 class="recommended__heading">Recommended</h1>
			<div class="recommended__cards">
				<p class="error-message">We couldn't find any recommendations. (╥﹏╥)</p>
			</div>
		</div>
	</div>

	{% if mediaType == "anime" %}
		<div class="tab episodes hidden">
			<h1 class="episodes__heading">Episodes</h1>
			<div class="episodes__cards">
				<p class="error-message">We couldn't find any episodes (╥﹏╥)</p>
			</div>
		</div>
	{% else %}
		<div class="tab chapters hidden">
			<h1 class="chapters__heading">Chapters</h1>
			<div class="chapters__cards">
				<p class="error-message">We couldn't find any chapters (╥﹏╥)</p>
			</div>
		</div>
	{% endif %}
	
	<div class="tab characters hidden">
		<h1 class="characters__heading">Characters</h1>
		<div class="characters__cards">
			<p class="error-message">We couldn't find any characters (╥﹏╥)</p>
		</div>
	</div>
</div>
{% endblock%}
