{% extends 'main.html' %} {% load static %} {% block title %} {{title}} {% endblock %} {% block
styles %}

<link rel="stylesheet" href="{% static 'css/media.css'%}" />
{% endblock %} {% block scripts %}
<script defer src="{% static 'js/media.js' %}"></script>

<script>
	const mediaType = "{{mediaType|escapejs}}";
	const mediaId = "{{mediaId|escapejs}}";
</script>
{% endblock %} {% block content %}
<div class="content content--hidden">
	<div class="header">
		<div class="header__poster">
			<div class="header__poster__img"></div>
			<div class="add-to-list">
				<div class="add-to-list__btn">
					<p class="add-to-list__placeholder">Add to List</p>
					<div class="add-to-list__btn__icon">
						<i data-feather="chevron-down" class="drop-icon"></i>
					</div>
				</div>
				<ul class="add-to-list__dropdown">
					<li class="add-to-list__dropdown__option">Add to List</li>
					{% if mediaType == "anime" %}
					<li class="add-to-list__dropdown__option">Set as Watching</li>
					{% else %}
					<li class="add-to-list__dropdown__option">Set as Reading</li>
					{% endif %}
					<li class="add-to-list__dropdown__option">Set as Watching</li>
					<li class="add-to-list__dropdown__option">Set as Planning</li>
					<li class="add-to-list__dropdown__option">Open List Editor</li>
				</ul>
			</div>
		</div>
		<div class="header__text"></div>
	</div>

	<nav class="navbar">
		<a class="navbar__link navbar__link--active" data-tab="overview">Overview</a>
		{% if mediaType == "anime" %}
		<a class="navbar__link" data-tab="episodes">Episodes</a>
		{% else %}
		<a class="navbar__link" data-tab="chapters">Chapters</a>
		{% endif %}
		<a class="navbar__link" data-tab="characters">Characters</a>
		<a class="navbar__link" data-tab="stats">Stats</a>
		<a class="navbar__link" data-tab="reviews">Reviews</a>
	</nav>
	<div class="tab overview">
		<div class="relations">
			<h1 class="relations__heading">Relations</h1>
			<div class="relations__media__cards">
			</div>
		</div>
	</div>
</div>
{% endblock%}
