@import "./dropdown";
@import "./stats";


.content {
	display: flex;
	flex-direction: column;
	padding: 3rem 3rem;
	min-height: 100vh;
	width: 100%;
	gap: 1rem;

	&--hidden {
		display: none;
	}
}

.hidden {
	display: none;
}

.header {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	height: max-content;
	color: var(--color-text-100);
	padding-bottom: 1rem;
	border-bottom: 1px solid var(--color-extra-300);
	// justify-content: center;

	&__poster {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		&__img {
			overflow: hidden;
			border-radius: 0.25rem;
			width: 13rem;

			img {
				display: block;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
	}

	.list-action{
		width: 13rem;
		box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);

		&__btn {
			display: flex;
			padding: 0.15rem 0.5rem 0.15rem 0.5rem;
			background: var(--color-background-200);
			font-size: 1rem;
			border-radius: 0.25rem;
			align-items: center;
			justify-content: space-between;

			svg {
				height: 1.5rem;
				margin-top: 0.25rem;
			}
		}

		@include styleDropdown(list-action__dropdown, 12rem, 0.2rem, 1rem);

		&__dropdown.dropdown--open {
			height: 10.5rem;
		}
	}

	&__text {
		width: min(100%, 55rem);
		margin-top: 1rem;

		&__studio,
		&__publisher {
			font-size: 0.8rem;
			font-weight: 500;
			color: var(--color-text-300);
		}

		&__extras {
			font-size: 0.75rem;
			margin-top: 0.2rem;
			font-weight: 500;
			color: var(--color-text-200);
			text-transform: capitalize;
		}

		&__genre {
			margin-top: 1.5rem;
			width: 100%;

			&__item {
				background: var(--color-background-100);
				padding: 6px;
				font-weight: 500;
				border-radius: 5px;
				font-size: 0.75rem;
				color: var(--color-text-100);
			}
		}

		&__synopsis {
			font-size: 0.85rem;
			font-weight: 400;
			margin-top: 1.5rem;
			line-height: 1.25rem;
			color: var(--color-text-200);
		}
	}
}

.navbar {
	display: flex;
	width: min(50rem, 100%);
	align-items: center;
	justify-content: space-between;
	margin: 0.5rem auto;

	&__link {
		color: var(--color-text-400);
		transition: 0.3s;
		font-weight: 500;
		font-size: 0.95rem;

		&:hover {
			color: var(--color-text-100);
		}

		&--active {
			color: var(--color-text-100);
		}
	}
}

.relations {
	margin-top: 5rem;
	width: 100%;

	&__heading {
		text-transform: uppercase;
		color: var(--color-text-100);
		font-size: 1.2rem;
		font-weight: 600;
		letter-spacing: 0.1rem;
		margin-bottom: 1rem;
	}

	&__media__cards {
		display: grid;
		grid-template-columns: repeat(auto-fill, 30rem);
		gap: 2rem;
		width: 100%;
		overflow: hidden;
	}

	&__media__card {
		display: grid;
		grid-template-columns: 6.5rem auto;
		gap: 1rem;
		height: 8rem;
		overflow: hidden;
		background: var(--color-background-200);
		color: var(--color-text-300);
		line-height: 1.25rem;
		border-radius: 5px;

		&__cover {
			overflow: hidden;
			img {
				display: block;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		&__text {
			display: flex;
			flex-direction: column;
			margin: 0.75rem 0;
			width: max-content;
			text-transform: capitalize;
			width: 100%;

			&__relation {
				font-size: 0.75rem;
				font-weight: 500;
			}

			&__title {
				margin-top: 0.25rem;
				color: var(--color-text-100);
			}

			&__extras {
				font-size: 0.75rem;
				margin-top: auto;
				font-weight: 400;
			}
		}
	}
}

.characters {
	margin-top: 5rem;
	width: min(70rem, 100%);

	&__heading {
		text-transform: uppercase;
		color: var(--color-text-100);
		font-size: 1.2rem;
		font-weight: 600;
		letter-spacing: 0.1rem;
		margin-bottom: 1rem;
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		width: 100%;
		overflow: hidden;
	}

	&__card {
		gap: 1rem;
		overflow: hidden;
		color: var(--color-text-300);
		line-height: 1.25rem;
		width: 8rem;
		text-transform: capitalize;

		&__img {
			overflow: hidden;
			border-radius: 3px;
			height: 12.4rem;
			background: var(--color-background-200);

			img {
				display: block;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		&__name {
			margin-top: 0.4rem;
			color: var(--color-text-200);
		}

		&__voice {
			color: var(--color-text-500);
			font-size: 0.85rem;
			font-weight: 500;
		}
	}
}

.info {
	margin-top: 5rem;
	width: min(70rem, 100%);
	display: grid;
	grid-template-columns: repeat(auto-fill, 30rem);
	column-gap: 5rem;
	row-gap: 5rem;

	.details {
		grid-area: span 2;

		&__heading {
			text-transform: uppercase;
			color: var(--color-text-100);
			font-size: 1.2rem;
			font-weight: 600;
			letter-spacing: 0.1rem;
			margin-bottom: 1rem;
		}

		&__text {
			line-height: 2.25rem;
			color: var(--color-text-200);
			background: var(--color-background-200);
			width: 30rem;
			padding: 2rem 2rem 2rem 1rem;
			border-radius: 0.5rem;
			font-weight: 500;
			display: flex;
			flex-direction: column;
			text-transform: capitalize;

			div {
				display: flex;

				strong {
					width: 7.5rem;
					color: var(--color-text-100);
					font-weight: 800;
				}

				span {
					width: 22.5rem;
				}
			}
		}
	}

	.trailer {
		&__heading {
			text-transform: uppercase;
			color: var(--color-text-100);
			font-size: 1.2rem;
			font-weight: 600;
			letter-spacing: 0.1rem;
			margin-bottom: 1rem;
		}

		&__clip {
			overflow: hidden;
			display: inline-block;
			border-radius: 5px;
			width: min(100%, 30rem);

			img {
				display: block;
				height: 100%;
				width: 100%;
				object-fit: fill;
				transition: 0.3s;

				&:hover {
					filter: brightness(50%);
				}
			}
		}
	}
}

.episodes,
.chapters {
	margin-top: 5rem;
	width: min(70rem, 100%);

	&__heading {
		text-transform: uppercase;
		color: var(--color-text-100);
		font-size: 1.2rem;
		font-weight: 600;
		letter-spacing: 0.1rem;
		margin-bottom: 1rem;
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(auto-fill, 21rem);
		gap: 2rem;
		width: 100%;
		overflow: hidden;
	}

	&__card {
		gap: 1rem;
		overflow: hidden;
		color: var(--color-text-300);
		line-height: 1.25rem;
		text-transform: capitalize;

		&__cover {
			overflow: hidden;
			border-radius: 3px;
			height: 11.8rem;
			background: var(--color-background-200);

			img {
				display: block;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		&__number {
			margin-top: 0.4rem;
			color: var(--color-text-500);
			font-size: 0.85rem;
			font-weight: 500;
		}

		&__title {
			color: var(--color-text-200);
		}
	}
}

.error-message {
	color: var(--color-text-500);
	font-size: 0.95rem;
	font-weight: 500;
}
