@import "./dropdown";

.content {
	display: flex;
	flex-direction: column;
	padding: 3rem 3rem;
	min-height: 100vh;
	width: 87%;
	gap: 3rem;
}

.header {
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--color-text-100);
	user-select: none;

	.media-type {
		padding: 0.5rem 0.8rem;
		border-radius: 0.5rem;
		display: inline-flex;
		align-items: center;
		background: var(--color-background-200);
		cursor: pointer;

		&__icon {
			padding: 0 5px;
		}
	}

	@include styleDropdown(type__dropdown, 8rem, 0.2rem, 1.2rem);

	.type__dropdown {
		position: absolute;
		margin-left: 5.5rem;

		&__option:hover {
			background: none;
		}
	}
}

.search-panel {
	display: grid;
	grid-template-columns: repeat(auto-fit, 30rem);
	column-gap: 1rem;
	row-gap: 2rem;
	width: 100%;
	overflow: hidden;

	.search__field__container {
		.field {
			width: 100%;
			color: var(--color-text-200);

			&__title {
				font-size: 1rem;
				margin-bottom: 0.5rem;
			}
		}

		.field-wrap {
			display: flex;
			align-items: center;
			justify-content: space-between;
			background: var(--color-background-200);
			color: var(--color-text-500);
			width: 100%;
			border-radius: 5px;
			padding: 0rem 1rem;
			box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
			padding-left: 0.8rem;

			#query {
				background: none;
				outline: none;
				border: none;
				font-size: 0.9rem;
				font-weight: 500;
				letter-spacing: 0.03rem;
				padding: 0.9rem;
				width: 100%;
				color: var(--color-text-200);
			}

			.search-icon {
				width: 1.5rem;
				height: 1.5rem;
			}
		}
	}

	.filter__field__container {
		display: grid;
		gap: 1rem;
		font-size: 0.9rem;
		grid-template-columns: repeat(3, 11rem);

		.field {
			width: 100%;
			color: var(--color-text-200);

			&__title {
				font-size: 1rem;
				margin-bottom: 0.5rem;
			}

			&-wrap {
				display: flex;
				align-items: center;
				justify-content: space-between;
				background: var(--color-background-200);
				color: var(--color-text-500);
				width: 100%;
				border-radius: 5px;
				padding: 0.7rem 1rem;
				box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);

				.drop-icon {
					height: 1.5rem;
					width: 1.5rem;
				}

				.tag-wrap {
					display: none;
					gap: 0.2rem;

					.tag {
						display: none;
						font-size: 0.6rem;
						background: var(--color-extra-500);
						color: var(--color-text-300);
						padding: 0.3rem;
						border-radius: 4px;
					}

					.tag--show {
						display: block;
					}
				}

				.tag-wrap--show {
					display: flex;
				}
			}

			&__placeholder {
				user-select: none;
			}

			&__placeholder--hide {
				display: none;
			}

			@include styleDropdown(filter__dropdown, 11rem, 0.5rem, 0.9rem);

			.genres__list.dropdown--open {
				height: 23.5rem;

				&:hover {
					overflow-y: scroll;
				}
			}

			.type__list.dropdown--open {
				height: 12.5rem;
			}

			.status__list.dropdown--open {
				height: 10.5rem;
			}

			.filter__dropdown__heading {
				margin-left: 1.3rem;
			}

			.filter__dropdown__option {
				display: flex;
				justify-content: space-between;
				user-select: none;
				align-items: center;
				svg {
					color: var(--color-text-200);
					height: 1.25rem;
					width: 1.25rem;
				}
			}
		}
	}
}

.filters-display {
	display: grid;
	grid-template-columns: repeat(2, minmax(15rem, 35rem));
	gap: 1rem;
	font-size: 1rem;
	color: var(--color-text-400);

	.active__filter {
		display: flex;
		gap: 1rem;

		.tags-icon {
			height: 1.4rem;
			width: 1.4rem;
		}

		&-wrap {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			gap: 0.5rem;
			overflow: hidden;
		}

		&__item {
			font-size: 0.6rem;
			background: var(--color-extra-500);
			color: var(--color-text-200);
			padding: 0.3rem;
			border-radius: 4px;
			user-select: none;
		}
	}

	.sort {
		justify-self: end;
		margin-right: 5rem;

		&__method {
			display: flex;
			gap: 0.3rem;
			align-items: center;
			white-space: nowrap;
			user-select: none;
			cursor: pointer;
		}

		&-icon {
			transform: rotate(90deg);
			height: 1rem;
			width: 1rem;
		}

		@include styleDropdown(sort__dropdown, 9rem, 0.5rem, 0.9rem);

		&__list.dropdown--open {
			height: 10.5rem;
			padding: 1rem 0;
		}
	}
}

.results {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(26rem, 35rem));
	gap: 2rem;
	width: 100%;
	overflow: hidden;

	.media__card {
		display: grid;
		grid-template-columns: 11.25em auto;
		height: 14.5em;
		overflow: hidden;
		background: var(--color-background-200);
		box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
		color: var(--color-text-200);
		line-height: 1.25em;
		border-radius: 5px;

		&__cover {
			overflow: hidden;
			img {
				display: block;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		&__info {
			padding: 1em;
			height: 95%;
			width: 100%;
			overflow: hidden;

			&__header-wrap {
				display: flex;
				gap: 1em;
				width: 100%;
				justify-content: space-between;
				padding-right: 0.5em;
			}

			&__title {
				text-decoration: none;
				width: 80%;
				overflow-wrap: break-word;
				color: inherit;
			}

			&__score {
				display: flex;
				align-items: end;
				height: fit-content;
				column-gap: 0.35em;
				font-weight: 600;
				font-size: 1em;

				svg {
					height: 1.4em;
					width: 1.25em;
				}
			}

			&__extra {
				font-size: 0.8em;
				color: var(--color-text-500);
				text-transform: capitalize;
			}

			&__genres-wrap {
				margin-top: 0.5em;
				height: 2em;
				width: 100%;
			}

			&__genre {
				background: var(--color-background-100);
				padding: .5em;
				border-radius: .4em;
				font-size: 0.6em;
			}

			&__plot-wrap {
				font-size: 0.7em;
				font-weight: 500;
				color: var(--color-text-400);
				line-height: 1.4em;
				height: 50%;
			}

			&__synopsis {
				overflow: hidden;
				margin-top: 0.25rem;
				height: 100%;

				&:hover {
					overflow: auto;
				}

				&::-webkit-scrollbar {
					width: 5px;
				}
			}
		}
	}
}

*::-webkit-scrollbar {
	width: 0.5em;
}

*::-webkit-scrollbar-track {
	background: none;
}

*::-webkit-scrollbar-thumb {
	background: var(--color-extra-500);
	border-radius: 20px;
}



@media screen and (max-width: 80rem) {
	html {
		font-size: 14px;
	}

	.content{
		width: 100%;
	}

	.results{
		grid-template-columns: repeat(auto-fill, minmax(26rem, 30rem));
	}
}

@media screen and (max-width: 48rem){

	.search-panel{
		grid-template-columns: repeat(auto-fit, 100%);
	}
	
}

@media screen and (max-width: 27rem) {
	html {
		font-size: 10px;
	}

	.search-panel {
		.filter__field__container {
			overflow-x: scroll;

			&::-webkit-scrollbar {
				display: none;
			}

			.field .filter__dropdown {
				overflow: scroll;
			}
		}
	}

	.filters-display .sort {
		justify-self: end;
	}

	.results{
		font-size: 8px;
	}
}
