.content {
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem;
  min-height: 100vh;
  width: 100%;
  gap: 1rem;
}
.content--hidden {
  display: none;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: var(--color-text-100);
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-extra-300);
}
.header__poster {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.header__poster__img {
  overflow: hidden;
  border-radius: 0.25rem;
  width: 13rem;
}
.header__poster__img img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .add-to-list {
  width: 13rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
}
.header .add-to-list__btn {
  display: flex;
  padding: 0.15rem 0.5rem 0.15rem 0.5rem;
  background: var(--color-background-200);
  font-size: 1rem;
  border-radius: 0.25rem;
  align-items: center;
  justify-content: space-between;
}
.header .add-to-list__btn svg {
  height: 1.5rem;
  margin-top: 0.25rem;
}
.header .add-to-list .add-to-list__dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 0.5rem;
  height: 0;
  width: 12rem;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 600;
  background: var(--color-background-200);
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  transition: 0.25s;
  cursor: pointer;
  z-index: 100;
}
.header .add-to-list .add-to-list__dropdown__option {
  color: var(--color-text-400);
  margin: 0 1rem 0 1rem;
  padding: 0.2rem;
  transition: 0.15s;
}
.header .add-to-list .add-to-list__dropdown__option:hover {
  color: var(--color-text-100);
  border-radius: 0.25rem;
  background: var(--color-background-300);
}
.header .add-to-list .dropdown--open {
  display: flex;
  height: 6rem;
  padding: 1rem 0;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
}
.header .add-to-list .dropdown--open::-webkit-scrollbar {
  width: 0.3rem;
}
.header .add-to-list__dropdown.dropdown--open {
  height: 10.5rem;
}
.header__text {
  width: min(100%, 55rem);
  margin-top: 1rem;
}
.header__text__studio, .header__text__publisher {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--color-text-300);
}
.header__text__extras {
  font-size: 0.75rem;
  margin-top: 0.2rem;
  font-weight: 500;
  color: var(--color-text-200);
  text-transform: capitalize;
}
.header__text__genre {
  margin-top: 1.5rem;
  width: 100%;
}
.header__text__genre__item {
  background: var(--color-background-100);
  padding: 6px;
  font-weight: 500;
  border-radius: 5px;
  font-size: 0.75rem;
  color: var(--color-text-100);
}
.header__text__synopsis {
  font-size: 0.85rem;
  font-weight: 400;
  margin-top: 1.5rem;
  line-height: 1.25rem;
  color: var(--color-text-200);
}

.navbar {
  display: flex;
  width: min(50rem, 100%);
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem auto;
}
.navbar__link {
  color: var(--color-text-400);
  transition: 0.3s;
  font-weight: 500;
  font-size: 0.95rem;
}
.navbar__link:hover {
  color: var(--color-text-100);
}
.navbar__link--active {
  color: var(--color-text-100);
}

.relations {
  margin-top: 5rem;
  width: 100%;
}
.relations__heading {
  text-transform: uppercase;
  color: var(--color-text-100);
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}
.relations__media__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30rem);
  gap: 2rem;
  width: 100%;
  overflow: hidden;
}
.relations__media__card {
  display: grid;
  grid-template-columns: 6.5rem auto;
  gap: 1rem;
  height: 8rem;
  overflow: hidden;
  background: var(--color-background-200);
  color: var(--color-text-300);
  line-height: 1.25rem;
  border-radius: 5px;
}
.relations__media__card__cover {
  overflow: hidden;
}
.relations__media__card__cover img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.relations__media__card__text {
  display: flex;
  flex-direction: column;
  margin: 0.75rem 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-transform: capitalize;
  width: 100%;
}
.relations__media__card__text__relation {
  font-size: 0.75rem;
  font-weight: 500;
}
.relations__media__card__text__title {
  margin-top: 0.25rem;
  color: var(--color-text-100);
}
.relations__media__card__text__extras {
  font-size: 0.75rem;
  margin-top: auto;
  font-weight: 400;
}/*# sourceMappingURL=media.css.map */