{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel='stylesheet' 
			href="https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css">

		<link rel="stylesheet" href="{% static 'css/main.css'%}">
		{% block styles %} {% endblock %}

		<script defer src="{% static 'js/main.js'%}"></script>
		{% block scripts %} {% endblock %}

		<title>{% block title %} {% endblock %} | Hoshi</title>
	</head>
	<body class="theme-dark">
		<div class="container">
			{% include 'partials/_navbar.html'%} 
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
