{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://unpkg.com/feather-icons"></script>

		<link rel="stylesheet" href="{% static 'css/main.css'%}">
		{% block styles %} {% endblock %}

		{% block scripts %} {% endblock %}

		<title>{% block title %} {% endblock %} | Hoshi</title>
	</head>
	<body class="theme-dark">
		<div class="container">
			<nav class="main-navbar">
				<a href="/" class="logo">
					<img src="{% static 'assets/logo.png' %}" alt="Hoshi Logo">
				</a>
			</nav>
			{% block content %}{% endblock %}
			<script>
				feather.replace()
			</script>
		</div>
	</body>
</html>
