@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.theme-dark {
	--color-background-100: #3f414e;
	--color-background-200: #282931;
	--color-background-300: #1b1c22;
	--color-background-400: #191a1f;
	--color-extra-100:#616578;
	--color-extra-200: #4a4d5c;
	--color-text-100: #dcdde3;
	--color-text-200: #bfc2cc;
	--color-text-300: #a3a6b5;
	--color-text-400: #9599aa;
	--color-text-500: #878b9e;

}

body {
	background: var(--color-background-300);
	font-family: "Overpass", sans-serif;
	font-weight: 600;
	transition: 0.5s;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	cursor: pointer;
}

li{
	list-style: none;
}

svg{
	height: 2rem;
	width: 2rem;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-navbar{
	position: sticky;
	display: flex;
	height: 5em;
	width: 100%;
	align-items: center;
	justify-content: center;
	background: var(--color-background-400);
	border-bottom: 1px solid var(--color-extra-200);

	.logo{
		overflow: hidden;
		height: 4em;
		width: 8em;

		img {
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
}

.mini {
	width: 5rem;
}

.active {
	color: var(--color-text-100);
	background: var(--color-background-200);
}


*::-webkit-scrollbar {
	width: 0.5em;
}

*::-webkit-scrollbar-track {
	background: none;
}

*::-webkit-scrollbar-thumb {
	background: var(--color-extra-200);
	border-radius: 20px;
}
