@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.theme-dark {
	--color-background-100: #25262c;
	--color-background-200: #1b1c22;
	--color-background-300: #23242a;
	--color-background-400: #191a1f;
	--color-border-100: #3a3b40;
	--color-text-100: #cccccc;
	--color-text-200: #bebebe;
	--color-text-300: #5e5f62;
}

body {
	background: var(--color-background-200);
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 600;
	transition: 0.5s;
}

a {
	text-decoration: none;
}

.container{
	display: flex;
}

// ====== SIDEBAR========================
.sidebar-container {
	position: sticky;
	max-width: 16rem;
	min-height: 100vh;
	background: var(--color-background-400);
	border-right: 1px solid var(--color-border-100);
	z-index: 10;
	transition: 0.3s;
	user-select: none;
}

.sidebar {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	.logo {
		padding: 0 6.5rem;

		img {
			margin-top: 1.2rem;
			max-width: 6rem;
		}
	}

	&__list {
		padding: 0.75rem 0;
		border-bottom: 1px solid var(--color-text-300);
	}

	.sidebar__toggle {
		position: absolute;
		top: 2rem;
		left: 2rem;
		color: var(--color-text-200);
		font-size: 2rem;
		cursor: pointer;
		transition: 0.5s;
	}

	&__link {
		display: flex;
		align-items: center;
		padding: 1rem;
		font-size: 1.1rem;
		margin-left: 1.5rem;
		border-radius: 10px 0 0 10px;
		color: var(--color-text-300);
		transition: 0.3s;

		&:hover {
			color: var(--color-text-200);
		}

		&__icon {
			margin-right: 1rem;
			padding-top: 5.5px;
		}

		&__text {
			padding-left: 0.8rem;
			white-space: nowrap;
		}
	}
}

.mini {
	max-width: 5rem;
}

.active {
	color: var(--color-text-200);
	background: var(--color-background-100);
}
